header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #386664;
  color: white;
  height: 240px;
  border-top: 5px groove;
  border-bottom: 5px ridge;
}
header img {
  height: 200px;
  border-radius: 5px;
  border-color: #386664;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header h1 {
  padding: 20px;
}
footer {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  border-top: 4px groove;
  border-bottom: 6px ridge;
  background-color: #386664;
  color: white;
  height: 60px;
}
body h2 {
  border-bottom: 2px solid gray;
}
body ul {
  line-height: 1.5;
}
