@media only screen and (min-width: 64rem) {
  .banner {
    font-size: 1.5rem;
    max-width: 1100px;
    margin: 0 auto;
  }
  header {
    width: 1100px;
    margin: 0 auto;
  }
  nav button {
    display: none;
  }
  nav ul#navButton {
    display: flex;
    margin-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    list-style-type: none;
    padding-left: 0;
  }
  nav ul li a {
    border: none;
    padding: 0.5rem 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }
  main {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  .hero {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  #heroImg {
    grid-column: 2 / 4;
  }
  .news {
    grid-column: 2 / 4;
  }
  .spotlights {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .weather {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .events {
    grid-column: 1 / 2;
    grid-row: 2;
  }
  .join {
    grid-row: 3;
  }
  .footerMain {
    max-width: 1100px;
    padding: 0.5rem 1rem;
  }
}
