@media only screen and (min-width: 64rem) {
  header {
    max-width: 1100px;
    margin: 0 auto;
  }
  nav ul li a {
    padding: 0.5rem 1rem;
  }
  main {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  .hero {
    grid-column: 2 / 4;
  }
  .news {
    grid-column: 2 / 4;
  }
  .spotlights {
    grid-column: 4 / 5;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .weather {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .events {
    grid-column: 1 / 2;
  }
  .footerMain {
    max-width: 1100px;
    padding: 0.5rem 1rem;
  }
}
