@media only screen and (min-width: 40rem) and (max-width: 64rem) {
  .banner {
    font-size: 1.2rem;
  }
  #headingBox {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 0.5fr;
  }
  .logo {
    grid-row: 1 / 3;
  }
  .headerMain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  h2 {
    margin-top: -0.75rem;
  }
  nav button {
    display: none;
  }
  nav ul#navButton {
    display: flex;
    margin-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    list-style-type: none;
    padding: 0;
  }
  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }
  .location {
    padding: 1rem;
  }
  .contact {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
  }
  main {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  .hero,
  .news,
  .spotlights,
  .join {
    grid-column: 1 / 4;
  }
  #heroImg {
    background-image: url("../images/utahmtstrim.jpeg");
    /* height: 300px;
    width: 800px; */
  }
  #joinBtn {
    top: 30%;
    right: 40%;
  }
  .events {
    grid-column: 1 / 3;
  }
  .join {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footerMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
